<div>
	<table class="tabla">
		<thead>
			<tr>
				<th></th>
				{{#each hollows}}
					<th>
						{{fecha}}
						{{hora_inicio}}
						{{hora_fin}}
					</th>
				{{/each}}
			</tr>
			{{#each brands}}
			<tbody>
				<tr>
					<th>{{@key}}</th>
					
					{{#each this}}
						<td>
						{{#if this}}
							<img class="tick" src="imagenes/tick.png" ></img>
						{{/if}}
						</td>
					{{/each}}
				</tr>
			</tbody>
			{{/each}}
		</thead>

		<tbody>
			<tr>
				<th>{{email}}</th>
				{{#each brandsUser}}
					<td>
						{{#if_eq this.[0] true}}
						
							<input type="checkbox" name="marcados[]" id="marcados[]" value="{{@key}}" checked="checked" />
							
							{{else}}
							
							<input type="checkbox" name="marcados[]" id="marcados[]" value="{{@key}}" />
							
						{{/if_eq}}
						
					</td>
				{{/each}}
			</tr>

		<table class="boton_tabla">
			<tr>
				<td>
					<button class="boton_tabla" type="submit" value="" ><img src="imagenes/participar.png" /></button>
				</td>
			</tr>
		</table>
		
		
	</tbody>	
	</table>
</div>		