<div> 
  <div id="hollows-table">
    <div class="add">
      <input class="iconoTabla addImage" type="image" src="imagenes/add.png" item="{{link}}" item2="{{name}}" />
    </div>
    
    <table class="tabla">
      <thead>
        <tr>
          <th colspan="4">{{i18n 'Link'}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="4">
            <img class="enlace" src="imagenes/enlace.png" />
            <div class="showMovil">
              <a href="#view-brands?link={{link}}">{{urlBase}}#view-brands?link={{Link}}</a>
            </div>
            <div class="showPc">
              <a href="#view-brands?link={{link}}">{{urlBase}}#view-brands?link={{link}}</a>
            </div>
          </td>
        </tr>
      </tbody>
      
      <thead>
        <tr>
            <th colspan="3">{{i18n 'Title'}}</th>
            <th>{{i18n 'Options'}}</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="3">
             {{name}}
          </td>
          <td>
             <input class="iconoTabla editImage" type="image" src="imagenes/editar.png" item={{link}} item2={{name}} />
          </td>
        </tr>
      </tbody>

      <thead>
        <tr>
          <th>{{i18n 'Date'}}</th>
          <th>{{i18n 'Start time'}}</th>
          <th>{{i18n 'End time'}}</th>
          <th>{{i18n 'Options'}}</th>
        </tr>
      </thead>

      <tbody>
      {{#each hollows}}
        <tr fronty-component="HollowRowComponent" key="{{numero}}" model="hollows[{{@index}}]" id="item-{{numero}}"></tr>
      {{/each}}
      </tbody>

    </table>
  </div>

</div>
