<tr key="{{numero}}">
  <td>{{fecha}}</td>
  <td>{{hora_inicio}}</td>
  <td>{{hora_fin}}</td>
  <td>
    	<input class="delete iconoTabla" type="image" src="imagenes/eliminar.png" item="{{numero}}" />
  </td>
</tr>
