<ul>
  <li>
	<a href="#{{currentPage}}" id="spanishlink">
		<img src="imagenes/banderaSpain.jpg" alt="bandera española"></img>
  	</a>
  </li>
  <li>
  	<a href="#{{currentPage}}" id="englishlink">
  		<img src="imagenes/banderaReinoUnido.png" alt="bandera inglesa"></img>
  	</a>
  </li>
</ul>
