<span>
{{#if isLogged}}
  {{i18n 'Your are logged. Logout first'}}
{{else}}
  <fieldset>
    <legend align="center">{{i18n 'Access'}}</legend>
    <div class="logeo">

      {{#i18n}}{{loginError}}{{/i18n}}<br />

      <div class="datos">
        <label class="alineado" for="usuario">{{i18n 'Email'}}</label><br></br>
        <input class="campo" type="text" id="login" />
      </div>

      <div class="datos">
        <label class="alineado" for="password">{{i18n 'Password'}}</label><br></br>
        <input class="campo" type="password" id="password" />
      </div>
      <div class="datos">
        <input class="campo" type="submit" id='loginbutton' value="{{i18n 'Login'}}" />
      </div>

    </div>

  </fieldset>

  <fieldset>
    <div class="registro">
      <input class="campo" type="submit" id='registerlink' value="{{i18n 'Register'}}" /> 
    </div>
  </fieldset>
{{/if}}
</span>