<div>

  <div id="cabecera">
    <div class="logo">
      <img src="imagenes/oupoll.png" alt="icono application" />
    </div>
    <div class="titulo">
      <h1>{{i18n 'Polls management'}}</h1>    
    </div>
    <div class="idiomform">
    	<div id="languagecontrol">Loading...</div>
    </div>
  </div>

  <div id="navegacion">Loading...</div> 

  <div id="lateral">Loading...</div>    

  <div id="cuerpo">
    <!-- router contents -->
  	<main id="maincontent">Loading...</main>
  </div>

  <div id="pie">
      <h2>{{i18n 'Created'}} 12/11/2018</h2>
  </div>
  
</div>