<ul>
	{{#if isLogged}} 
    <li>
      <ul>
        <li> <a href="#polls">{{i18n 'Polls'}}</a> </li>
      </ul> 

      <ul> 
        <li> <a href="#pollAdd">{{i18n 'Create Poll'}}</a> </li>
      </ul>
       
    </li>
    {{/if}}
</ul> 