<div>
  <div class="envoltorio">
    <div class="tabla_registro">
      
      <div class="datos">
        <label align="center" class="alineado" for="nombre">{{i18n 'Title'}}</label><br />
        {{#i18n}}{{pollAddErrors.titulo}}{{/i18n}}
        <input class="campo2" type="text" id="titulo" maxlength="40" size="40" />
      </div>

      <div class="boton_inferior">
        <button class="boton_tabla" type="submit" value="" ><img src="imagenes/crear.png" /></button>
      </div>

    </div>  
  </div>
</div>
