<tr key="{{link}}">
  <td><a href="#view-brands?link={{link}}">{{urlBase}}#view-brands?link={{link}}</a></td>
  <td>{{titulo}}</td>
  <td>{{email}}</td>
  <td>

    {{#if_eq user.currentUser email}}
    	<input class="iconoTabla" type="image" src="imagenes/editar.png" item="{{link}}" item2="{{titulo}}"  />
    {{/if_eq}}
  </td>
</tr>
