<div>

  
  <div id="polls-table">
    {{#if polls.length}}
      <table class="tabla">
        <thead>
        <tr>
          <th>{{i18n 'Link'}}</th>
          <th>{{i18n 'Title'}}</th>
          <th>{{i18n 'Owner'}}</th>
          <th>{{i18n 'Options'}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each polls}}
          <tr fronty-component="PollRowComponent" key="{{link}}" model="polls[{{@index}}]" id="item-{{link}}"></tr>
        {{/each}}
      </tbody>
      </table>
    {{/if}}
  </div>

</div>
