<div>
  {{#if isLogged}}
  {{else}}
  <div class="envoltorio">
    <div class="tabla_registro">
      
      <div class="datos">
        <label align="center" class="alineado" for="nombre">{{i18n 'Name'}}</label><br />
        {{#i18n}}{{registerErrors.nombre}}{{/i18n}}
        <input class="campo2" type="text" id="registerusername" maxlength="40" size="40" />
      </div>
      
      <div class="datos">
        <label align="center" class="alineado" for="apellidos">{{i18n 'Surname'}}</label><br />
        {{#i18n}}{{registerErrors.apellidos}}{{/i18n}}      
        <input class="campo2" type="text" id="registersurname" maxlength="40" size="40" />
      </div>
        
      <div class="datos">
        <label align="center" class="alineado" for="correo">{{i18n 'Email'}}</label><br />
        {{#i18n}}{{registerErrors.email}}{{/i18n}}
        <input class="campo2" type="text" id="registeremail" maxlength="30" size="30" />
      </div>

      <div class="datos">
        <label align="center" class="alineado" for="contraseña">{{i18n 'Password'}}</label><br />
        {{#i18n}}{{registerErrors.contrasena}}{{/i18n}}
        <input class="campo2" type="password" id="registerpassword" maxlength="40" size="40" />
      </div>

      <div class="boton_inferior">
        <button class="boton_tabla" type="submit" id="registerbutton" value="" ><img src="imagenes/aceptar.png" /></button>
        <button class="boton_tabla" type="reset" value="" ><img src="imagenes/rechazar.png" /></button>
      </div>

    </div>  
  </div>
  {{/if}}
</div>
