<div>
	<div class="icono_usuario">
		<img src="imagenes/usuario.png" alt="icono usuario"></img>
    	<div class="nombre">{{currentUser}}</div>
	</div>      

  <div class="des">
    <div class="img_des">

  	{{#if isLogged}}
      <a href="" id='logoutbutton' > 
        <img src="imagenes/out.png" alt="Desconectar"></img>
      </a>
  	{{else}}
    	<a href='#login'>
        <img src="imagenes/entrar.png" alt="Entrar"></img>
      </a>
    {{/if}}

    </div>
    
  </div>
</div>
