body{
	margin:auto;
	padding:auto;
	font-size:6pt;
	font-family:helvetica;
	color:black;
}

@keyframes backgroundflash {		
		75% { opacity:1.0}
		100% {opacity:0.0; display:none}
}

#frontyapp{
	height: 100vh;
}

#flash {
	width: 100%;
	background-color:green;
	animation: backgroundflash 5s forwards; 
}

ul {
	list-style: none;
}

input{

    border-color: white;
    background-color:#CEF6F5;
}
select{
     border-color: white;
    background-color:#CEF6F5;
}
.negrita{
	font-style: bold;
}

/* Cabecera */
#cabecera{
	width:100%;
	background-color:#003366;
	overflow:hidden;
	height: 10%;
}

.logo{
	padding: 0;
	margin: 0;
	width: 20%;
	float: left;
}

.logo img {
	width: 35px;
	height: 40px;
}

.nombre {
	color:white;
}

.titulo {
	padding: 0;
	margin: 0;
	width: 75%;
	float: left;
	color:white;
}

.titulo h1 {
	text-align: center;
}

.idiomform {
	width: 5%;
	float: left;
	padding: 0;
	margin: 0;
}

.idiomform ul {
	margin: 0;
	padding: 0;
}

.idiomform img {
	margin: 0;
	padding: 0;
	width: 18px;
	height: 10px;
}

/* Navegacion */
#navegacion{
   width:100%;
   background-color:#003366;
   height: 5%;
}
.icono_usuario{
	float: left;
	margin:0;
	width: 25%;
}

.icono_usuario img {
	float: left;
	width: 8%;
	height: 100%;
}
.des{
	margin-left: 95%;
}

.des .img_des {
	
	float: left;
	margin-left: 0%;
}

.des a img {
   width: 15px;
   height: 20px;
}
/* Menu Lateral */
#lateral {
	margin: 0;
	padding: 0;
	background-color:#3674B2;
}

#lateral ul{
	list-style-type: none;
    margin: 0;
    width: 99.3%;
    padding: 0.3%;
}

#lateral ul li:hover ul{

}

#lateral ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
	padding:0.5em;
	
}

#lateral ul li:hover ul{
	display:block;
}

#lateral ul li{
	
	position:relative;
}

#lateral ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 1.5em;
    text-align: center;
	padding:2em;
}

#lateral ul li a:hover {
	background-color:#bfbfbf;
	list-style:none;
	color:black;
}

/* Pie */
#pie{
	float:left;
	width:100%;
	background-color:#003366;
	overflow:hidden;
	clear: both;
	height: 10%;
}

#pie h2{
	float:left;
	margin-left:70%;
	color:white;
}

/* Estilo Cuerpo */

#cuerpo{
	background-color: #bfbfbf;
	
	overflow: auto;
	height: 80%;
}

.logeo{
	margin-top:3%;
	margin-bottom:1%;
}
.encuesta{
	margin-top:3%;
	margin-bottom:1%;
}

.error{
	color: red;
}

.showPc{
	display: none;
}

.registro{
	padding: 0;
	margin-top:3%;
	margin-bottom:1%;
}

.tabla_registro{
	width: 100%;
}

.datos {
	margin-top:2%;
	margin-bottom:1%;
}

.alineado {
	float:left;
	display:block;
	width: 23%;
}

.campo {
	display:block;
	width: 100%;
	border:1px solid #ced4da;
	padding: 10px;
	box-sizing: border-box;
	height: auto;
}


.campo2 {
	display:block;
	width: 100%;
	border:1px solid #ced4da;
	padding: 10px;
	box-sizing: border-box;
	height: auto;
}

.boton {
	line-height: 1.4em;
	border-collapse: separate;
}


.tabla{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    margin: auto;
}

.tabla thead th{
    padding:15px;
    color:#fff;
    
   
    background-color:#ff7c00;
    
    
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.tabla thead th:empty{
    background:transparent;
    border:none;
}

.tabla tbody th{
    color:#fff;
    
    background-color:#ff7c00;
    
    
    padding:0px 10px;
   
    
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.tabla tfoot td{
    color: black;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}

.tabla tfoot th{
    color:black;
}

.tabla tbody td{
    padding:10px;
    text-align:center;
    background-color:white;
    
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:black;
    text-shadow:1px 1px 1px #fff;
}

.iconoTabla{
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
}

.boton_inferior {
	margin-left: 5%;
}

.boton_tabla {
	margin: auto;
	
	padding: auto;
	background-color: transparent;
	
}

.boton_tabla button {
	width: 90%;
}

.boton_tabla img {
	width: 40px;
	height: 40px;
}

.enlace {
	height:30px; 
	width:30px;
}


.envoltorio{
		margin: auto;
	    background-color:white;
	    
	    box-shadow: 3px 3px 10px 5px white;
	    
	    -webkit-border-radius:5px;
	    -moz-border-radius:10px;
	    border-radius:10px;
}

.link{
	background-color: red;
}

@media (min-width: 768px) {
	body {
		font-size:12pt;
	}

.idiomform img {
	margin: 0;
	padding: 0;
	width: 35px;
	height: 25px;
}

.des a img {
   width: 40px;
   height: 30px;
}

.showMovil{
	display: none;
}


.showPc{
	display: inline;
}

#lateral ul {
	width: 90%;
	padding: 4%;
}

#lateral ul li:hover ul{
	display:block;
}

#lateral ul li:hover ul{
	display:block;
}

#lateral ul li{
	position:relative;
}

#lateral ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 1em;
	padding:0.3em;
}

#cuerpo {
	float:left;
	width: 85%;
	height: 75%;
}

.tick{
	width: 30px;
	height: 30px;
}

#lateral {
	float:left;
	width:15%;
	height: 75%;
}

.campo {
	width: 30%;
	margin: 0;
}

.registro{
	margin-left: 42%;
}

.logeo {
	margin-left:42%;
}

.add {
	margin-left:50%;
}

.boton {
	width: 30%;
}

.logo img {
	width: 30%;
}

.des img {
	width: 40%;
	height: 80%;
}

.envoltorio{
	width: 40%;
}

}

@media (min-width: 1200px) {
	body {
		font-size:16pt;
	}

	.des img {
		width: 40%;
		height: 80%;
	}
   
}



